.customers {
  padding: 130px 0;
}

.customers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}

.customers__item__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 30px;
}

.customers__item__stars-star {
  margin: 0 5px;
  width: 25px;
  height: 25px;
}

.customers__item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.customers__item-img {
  margin: 0 auto;
  border-radius: 50%;
  max-width: 130px;
}

.customers__item-title {
  color: #000;
  font-size: 32px;
  font-weight: 300;
  margin-top: 70px;
}

.customers__item-text {
  max-width: 48%;
  margin: 0 auto;
  margin-top: 50px;
}

.customers__item-name {
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
  font-weight: 700;
  margin-top: 70px;
}

.notClick {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.customers .slick-slide {
  opacity: 0.7;
}

.customers .slick-center {
  opacity: 1;
}

.customers .slick-nav {
  width: 100%;
  position: absolute;
  z-index: 100;
}

.customers .slick-prev {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0px;
  top: 30%;
  font-size: 0px;
  z-index: 100;
}

.customers .slick-next {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0px;
  top: 30%;
  font-size: 0px;
  z-index: 100;
}

.customers .slick-prev:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #b4b4b4;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 15px;
  left: 10px;
}

.customers .slick-prev:before {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #b4b4b4;
  position: absolute;
  top: 33px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  left: 10px;
}

.customers .slick-next:after {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #b4b4b4;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 15px;
  left: 10px;
}

.customers .slick-next:before {
  content: "";
  height: 2px;
  width: 25px;
  background-color: #b4b4b4;
  position: absolute;
  top: 33px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  left: 10px;
}

@media (max-width: 600px) {
  .customers__item-text {
    max-width: 70%;
  }
  .customers .slick-slide {
    display: none;
  }
  .customers .slick-center {
    display: block;
  }
}

@media (max-width: 992px) {
  .customers .container {
    max-width: none;
  }
  .customers .slick-slide {
    display: none;
  }
  .customers_carousel2 {
    min-width: 100%;
  }
}
/*# sourceMappingURL=customers.css.map */